.tall {
  height: 5000px;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}

.font-serif {
  font-family: Times New Roman, Noto Serif JP, serif;
}
.text-center {
  text-align: center;
}
.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.bg-light-gray {
  --tw-bg-opacity: 1;
  background-color: rgb(233 233 233 / var(--tw-bg-opacity));
}


.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.max-w-\[960px\] {
  max-width: 960px;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.animate[data-animation="fade-up"].start, .animate[data-animation="fade-down"].start, .animate[data-animation="fade-left"].start, .animate[data-animation="fade-right"].start {
  --tw-translate-y: 0px;
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  opacity: 1;
}
.animate[data-animation="appear-right"], .animate[data-animation="appear-right"] *, .animate[data-animation="appear-left"], .animate[data-animation="appear-left"] *, .animate[data-animation="appear-bottom"], .animate[data-animation="appear-bottom"] *, .animate[data-animation="appear-top"], .animate[data-animation="appear-top"] *, .animate[data-animation="fade-up"] {
  will-change: transform, opacity;
  transition-duration: 1.2s;
  transition-timing-function: cubic-bezier(0.25, 0.74, 0.22, 0.99);
}
@media (min-width: 768px) {
  .animate[data-animation="fade-up"] {
    --tw-translate-y: 50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .animate[data-animation="fade-up"] {
    display: block;
    --tw-translate-y: 100%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    opacity: 0;
  }
}
@media (min-width: 768px) {
  .md\:text-\[30px\] {
    font-size: 30px;
  }
  .text-\[18px\] {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .md\:text-\[18px\] {
      font-size: 18px;
  }
  .text-\[16px\] {
      font-size: 16px;
  }
}

img, video {
  max-width: 100%;
  height: auto;
}
img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

.animation-group {
  position: relative;
}

.first-image {
  margin-top: 200px;
}

.animate-cover {
  width: 100%;
  height: 600px;
  position: absolute;
  background-color: white;
  /*
    This attribute changes the direction of the width slide
    right: 0; - left to right
    left: 0; - right to left
  */
  right: 0;

  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

.animate-cover.start {
  width: 0;
  transition: width 1.2s ease-in-out;
}

.animate-cover--rtl {
  width: 100%;
  height: 220px;
  position: absolute;
  background-color: white;
  left: 0;

  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

.animate-cover--rtl.start {
  width: 0;
  transition: width 1.2s ease-in-out;
}

.floaters {
  position: fixed;
  top: 160px;
  right: 0;
  max-width: 60px;
  width: 0;
}

.floaters.show {
  width: 60px;
  transition: width 1.2s ease-in-out;
}

.floaters .right-menu.green {
  background-color: green;
  height: 50px;
  margin-bottom: 10px;
}
.floaters .right-menu.orange {
  background-color: orange;
  height: 50px;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid {
  display: grid;
}

@media (min-width: 1280px) {
  .xl\:gap-7 {
      gap: 1.75rem;
  }
}
@media (min-width: 1024px) {
  .lg\:grid-cols-5 {
      grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}
@media (min-width: 768px) {
  .md\:gap-5 {
      gap: 1.25rem;
  }
}
@media (min-width: 768px) {
  .md\:grid-cols-4 {
      grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media (min-width: 640px) {
  .sm\:gap-7 {
      gap: 1.75rem;
  }
}
.gap-y-5 {
    row-gap: 1.25rem;
}
.gap-x-3 {
    -moz-column-gap: 0.75rem;
    column-gap: 0.75rem;
}
.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid {
    display: grid;
}

.five-column-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.25rem;
}
.size-205 {
  width: 205px;
}
.size-205 img {
  overflow-clip-margin: padding-box 0px;
}